In [2]:
nums = [10, 20, 30]
nums.append(40); nums[1]=25; nums

[10, 25, 30, 40]

In [3]:
user = {"name":"Alice", "age":25}
user["age"]= 26
user.get("job", "Unknow")
user.keys(), user.values(), user.items()

(dict_keys(['name', 'age']),
 dict_values(['Alice', 26]),
 dict_items([('name', 'Alice'), ('age', 26)]))

In [4]:
a, b = 13, 5
q = a//b
r= a%b
res = f"{a}를 {b}로 나누면 몫 {q}, 나머지{r}"
res

'13를 5로 나누면 몫 2, 나머지3'

In [6]:
raw = " 2025/09/13, Seoul,Korea "
# 공백 제거 -> 날짜 구분자 바꾸기 -> 대문자화

clean = raw. strip().replace("/","-").upper()
parts = clean.split(",")
date, city, country = parts 
f"DATE={date}, CITY={city}, COUNTRY={country}"

'DATE=2025-09-13, CITY= SEOUL, COUNTRY=KOREA'

In [7]:
name = "홍길동"
height = 173.256
f"{name}님의 키는 {height:8.1f}cm"

'홍길동님의 키는    173.3cm'

In [8]:
a = [1,2,3]
b = a 
c = [1,2,3]
(a==b, a is b), (a==c, a is c)

((True, True), (True, False))