In [2]:
import pandas as pd

# 1️⃣ CSV 불러오기
df = pd.read_csv("tips.csv")

# 2️⃣ 결측치 확인
df.isnull().sum()  
# → 각 열(Column)마다 NaN의 개수를 보여줌

# 3️⃣ 결측치 제거
df_drop = df.dropna()  
# → NaN이 포함된 행(Row)을 통째로 삭제

# 4️⃣ 결측치 채우기
df_fill = df.fillna(0)  
# → NaN을 0으로 채움

# 5️⃣ 결측치 채우기 (평균으로)
df['tip'] = df['tip'].fillna(df['tip'].mean())

# 6️⃣ 중복 제거
df_unique = df.drop_duplicates()

# 7️⃣ 그룹별 평균 구하기
grouped = df.groupby('sex')['tip'].mean()
print(grouped)

# 8️⃣ 여러 기준으로 그룹화
grouped_multi = df.groupby(['sex', 'smoker'])['tip'].mean()
print(grouped_multi)

# 9️⃣ 조건 필터링 예시
high_tip = df[df['tip'] > 6]  
# → 팁이 6달러 이상인 행만 선택

sex
Female    2.833448
Male      3.089618
Name: tip, dtype: float64
sex     smoker
Female  No        2.773519
        Yes       2.931515
Male    No        3.113402
        Yes       3.051167
Name: tip, dtype: float64

In [3]:

df['total_bill'] = df['total_bill'].fillna(df['total_bill'].mean())

In [4]:
df[(df['smoker'] == 'No') & (df['tip'] >= 4)]

     total_bill   tip     sex smoker   day    time  size
5         25.29  4.71    Male     No   Sun  Dinner     4
11        35.26  5.00  Female     No   Sun  Dinner     4
20        17.92  4.08    Male     No   Sat  Dinner     2
23        39.42  7.58    Male     No   Sat  Dinner     4
28        21.70  4.30    Male     No   Sat  Dinner     2
39        31.27  5.00    Male     No   Sat  Dinner     3
44        30.40  5.60    Male     No   Sun  Dinner     4
46        22.23  5.00    Male     No   Sun  Dinner     2
47        32.40  6.00    Male     No   Sun  Dinner     4
52        34.81  5.20  Female     No   Sun  Dinner     4
54        25.56  4.34    Male     No   Sun  Dinner     4
59        48.27  6.73    Male     No   Sat  Dinner     4
77        27.20  4.00    Male     No  Thur   Lunch     4
85        34.83  5.17  Female     No  Thur   Lunch     4
87        18.28  4.00    Male     No  Thur   Lunch     2
88        24.71  5.85    Male     No  Thur   Lunch     2
104       20.92  4.08  Female     No   Sat  Dinner     2
112       38.07  4.00    Male     No   Sun  Dinner     3
114       25.71  4.00  Female     No   Sun  Dinner     3
116       29.93  5.07    Male     No   Sun  Dinner     4
125       29.80  4.20  Female     No  Thur   Lunch     6
141       34.30  6.70    Male     No  Thur   Lunch     6
142       41.19  5.00    Male     No  Thur   Lunch     5
143       27.05  5.00  Female     No  Thur   Lunch     6
155       29.85  5.14  Female     No   Sun  Dinner     5
156       48.17  5.00    Male     No   Sun  Dinner     6
167       31.71  4.50    Male     No   Sun  Dinner     4
185       20.69  5.00    Male     No   Sun  Dinner     5
212       48.33  9.00    Male     No   Sat  Dinner     4
238       35.83  4.67  Female     No   Sat  Dinner     3
239       29.03  5.92    Male     No   Sat  Dinner     3

In [5]:
df.groupby(['sex', 'day'])[['tip', 'total_bill']].mean()

                  tip  total_bill
sex    day
Female Fri   2.781111   14.145556
       Sat   2.801786   19.680357
       Sun   3.367222   19.872222
       Thur  2.575625   16.715312
Male   Fri   2.693000   19.857000
       Sat   3.083898   20.802542
       Sun   3.220345   21.887241
       Thur  2.980333   18.714667

In [6]:
grouped = df.groupby(['sex', 'day'])
selected = grouped[['tip', 'total_bill']]
result = selected.mean()